body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: black;
  color: aliceblue;
}
#mar {
  width: 16vw;
  border: 3px dotted white;
  padding: 0.7rem;
  border-radius: 1rem;
}
